{% extends './base.html' %}

{% block header %}
  <h3>{% block title %}Edit your question{% endblock%}</h3>
{% endblock %}


{% block content %}
  {% if question.user.id == user.id %}
    <form method="POST" action="">
      {% csrf_token %}
        {{ form.topic }}<br>
        {{ form.description }}<br>
      <input class="btn btn-primary" type="submit" value="Edit">
    </form>
  {% else %}
    <p>You can't edit someone else's question.</p>
    <meta http-equiv="refresh" content="2;url={% url 'qr:detail' question.id %}">
  {% endif %}
{% endblock %}
